<%- include('include/_admin-head') %>
    <div class="submit-body">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead">Share your amazing recipies with thousands of web developers accross the world. Fill our
                    form
                    to
                    get
                    started.</p>
            </div>
        </div>

        <div class="row justify-content-center submit">

            <div class="col-8 alert alert-success" role="alert">
            </div>

            <div class="col-8 alert alert-danger" role="alert">
            </div>


            <div class="col-8 sub-container ">

                <form action="/admin/product/update/<%=product._id%>" enctype="multipart/form-data" method="POST">

                    <div class="row g-3 form-body">

                        <div class="col-12">
                            <label for="name" class="form-label">Recipe Name</label>
                            <input type="text" name="name" id="name" class="form-control" value="<%=product.name %>"
                                required>
                        </div>

                        <div class="col-12">
                            <label for="gid" class="form-label">Id</label>
                            <input type="number/text" name="gid" id="gid" value="<%=product.gid %>" class="form-control"
                                required>
                        </div>

                        <div class="col-12">
                            <label for="designer" class="form-label">Designer</label>
                            <input type="text" name="designer" id="designer" value="<%=product.designer %>"
                                class="form-control " required>
                        </div>

                        <div class="col-12">
                            <label for="category">Select Category</label>
                            <select class="form-select form-control slt-ctg" name="category"
                                value="<%=product.category %>" aria-label="Category">
                                <option selected="<%=product.category %>">
                                    <%=product.category %>
                                </option>
                                <option value="Denims">Denims</option>
                                <option value="Suits">Suits</option>
                                <option value="Sweater">Sweater</option>
                                <option value="Intimates">Intimates</option>
                                <option value="Outingwear">Outingwear</option>
                                <option value="Activewear">Activewear</option>
                            </select>
                        </div>



                        <div class="col-12">
                            <label for="description" class="form-label">Description</label>
                            <textarea name="description" id="description" value="" class="form-control" cols="30"
                                rows="3"> <%=product.description %></textarea>
                        </div>



                        <div class="col-12">
                            <label for="description2" class="form-label">Description-2</label>
                            <textarea name="description2" id="description2" value="" class="form-control" cols="30"
                                rows="4"><%=product.description2 %></textarea>
                        </div>

                        <div class="col-6">
                            <label for="name" class="form-label">Ingredients</label><br>
                            <div class="ingredientList">
                                <div class="ingredeintDiv mb-1">
                                    <!-- <input type="text" name="ingredients" value="<%=product.ingredients %>"
                                        class="form-control"> -->
                                    <% product.ingredients.forEach(function(ingredients, index){ %>

                                        <input type="text" name="ingredients" value="<%=ingredients %>"
                                            class="form-control">
                                        <% }) %>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+
                                Ingredient</button>
                        </div>

                        <!-- <div class="col-12">
                            <label for="image1">Product Image</label>
                            <input type="file" class="form-control" name="image1" accept="image/*">
                            <img src="/uploads/image1/<%=product.image1[0].filename%>" alt="<%=product.name %>"
                                width="200" class="img-thumbnail mt-1">
                            <input type="hidden" name="old_image1" value="<%=product.image1[0].filename%>">
                        </div> -->


                        <!-- <div class="col-12">
                            <label for="image2">Product Image</label>
                            <input type="file" class="form-control" name="image2" accept="image/*">
                        </div>

                        <div class="col-12">
                            <label for="image3">Product Image</label>
                            <input type="file" class="form-control" name="image3" accept="image/*">
                        </div>

                        <div class="col-12">
                            <label for="image4">Product Image</label>
                            <input type="file" class="form-control" name="image4" accept="image/*">
                        </div> -->

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg" value="Update Product">Update
                                Product</button>
                        </div>

                    </div>

                </form>

            </div>
        </div>

    </div>
    <!-- <%- include('include/_footer') %> -->
    <!--------- Javascript for toggle menu -------->

    <script src="/js/js.js"></script>

    <%- include('include/_footer') %>
        <!--  -->
        </body>

        </html>